.Header {
  width: 100%;
  padding: 10px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.Navbar {
  padding: 10px;
  display: flex;
  gap: 50px;
  margin-left: 150px;
}
.Navbar_Items_Active {
  text-decoration: none;
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 20px;
  transition: 300ms;
  &:active {
    transform: scale(0.9, 0.9);
  }
}
.Navbar_Items_NotActive {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.63);
  letter-spacing: 2px;
  font-size: 20px;
  &:active {
    transform: scale(0.9, 0.9);
  }
}
.User {
  color: whitesmoke;
  margin-right: 130px;
  a {
    text-decoration: none;
    font-weight: bold;
  }
}
